.app-superstate {
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    
    color: white;
    font-size: 5vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    .app-offline {
        background: #000000;
    }
    
    .app-connecting {
        background: #001122;
    }
    
    .app-error {
        background: #221100;
    }
}

$app-header-height: 3rem;

.app-header {
    position: absolute;
    top: 0; left:0; right:0;
    height: $app-header-height;
    
    display: flex;
    
    background: #222;
    color: white;
}

$app-navigation-drawer-width: 16rem;

.app-navigation-drawer {
    position: absolute;
    top: $app-header-height;
    left:0; bottom:0;
    width: $app-navigation-drawer-width;
    
    display: flex;
    flex-flow: column nowrap;
    
    background: #2A2A2A;
    color: white;
    
    .client-info {
    }
}

.app-navigation-drawer.hide {
    left: -$app-header-height;
}

.app-content-container {
    position: absolute;
    top: $app-header-height;
    right:0;bottom:0;
    left: $app-navigation-drawer-width;
}

.app-navigation-drawer.hide ~ .app-content-container {
    left: 0;
}

.app-channel-view {
    display: flex;
    flex-flow: column nowrap;
    
    background: #333;
    color: white;
    
    .feed {
        flex: 1 1 auto;
        overflow-y: auto;
        margin: 0.5rem;
        
        .post + .post {margin-top: 0.5rem;}
    }
}

.post {
    display: block;
    
    .post-user {
        font-weight: bold;
        color: #fefefe;
    }
    
    .post-text {
        color: white;
        display: contents;
    }
}

.message-composer {
    flex: 0 0 auto;
    display: flex;
    
    padding: 0.25rem;
    color: white;
    background: #444;
    
    input {
        flex: 1 1 auto;
        width: 0.5rem;
        padding: 0.25rem;
        background: #333;
        border-radius: 5px;
        border: 1px solid darkgray;
    }
    
    input + button {
        margin-left: 0.25rem;
    }
    
    button {
        flex: 0 0 auto;
        padding: 0 0.25rem;
        
        background: #333;
        border-radius: 5px;
        border: 1px solid darkgray;
    }
}
